## Modeling Social AL
### 5.30.18 KLS

Load required packages

In [20]:
import numpy as np
import pandas as pd

Read in data

In [21]:
df = pd.read_csv('../data/modeling/sub-1004.csv')
df.head()

   trial_number     trial_type  response_key  response_time  trial_earnings
0             1    Trustworthy             2       2.401737              12
1             2  Untrustworthy             3       2.512877               3
2             3    Trustworthy             2       2.050396              12
3             4        Neutral             2       1.943770               6
4             5  Untrustworthy             3       1.633345               3

Add column for reciprocate

In [22]:
df['reciprocate'] = [int(x / 10) for x in df['trial_earnings']]
df.head()

,trial_number,trial_type,response_key,response_time,trial_earnings,reciprocate
0,1,Trustworthy,2,2.401737,12,1
1,2,Untrustworthy,3,2.512877,3,0
2,3,Trustworthy,2,2.050396,12,1
3,4,Neutral,2,1.943770,6,0
4,5,Untrustworthy,3,1.633345,3,0