### SocialAL Models
# Fit baseline model to simulated data sets
KLS 8.30.19; update 7.7.22  
Project info: https://osf.io/b48n2/

Model modified from :
Fareri, D. S., Chang, L. J., & Delgado, M. R. (2012). Effects of direct social experience on trust decisions and neural reward circuitry. Frontiers in Neuroscience, 6, 1â€“17. https://doi.org/10.3389/fnins.2012.00148

### Python version

In [1]:
import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]

### Load modules

In [2]:
import numpy as np
import random
import math
import pandas as pd
from scipy.optimize import minimize
import matplotlib.pyplot as plt
import itertools

## Pull in functions

In [3]:
run common_functions.ipynb

In [4]:
run baseline_functions.ipynb

### New function to fit model to multiple subjects

In [5]:
def model_fit_mult_subject(data):
    pdt = pd.DataFrame(columns = ['Subject','beta', 'llh'])
    a = pd.unique(data['Subject'])
    #print(a)
    for sub in range(1,len(a)+1):
        print('Subject: ', sub)
        df = data[data['Subject']==sub]
        df.reset_index(drop=True, inplace=True)
        dt = df.to_dict()
        params = model_fit(dt)
        #print('Params: ', params)
        line = {'Subject': sub, 'beta':params.x[0], 'llh':params.fun}
        pdt = pdt.append(line, ignore_index=True)   
    return(pdt)

### Data from baseline model

In [ ]:
#dt = pd.read_csv('../../output/simulation/sim_baseline_model_data.csv')
#dt.head(n=5)

In [ ]:
#b = model_fit_mult_subject(dt)
#print(a1)

In [ ]:
#b.to_csv(path_or_buf = '../../output/simulation/b_fit2_b.csv', index = False)

### Data from general model

In [6]:
dt = pd.read_csv('../../output/simulation/sim_1alpha_model_data.csv')
dt.head(n=5)

   Trial  Stim_Sequence  Choice  Trustee_Response     Alpha      Beta  Subject
0      1              2       1                 0  0.083167  0.440246        1
1      2              1       1                 1  0.083167  0.440246        1
2      3              1       4                 1  0.083167  0.440246        1
3      4              0       3                 1  0.083167  0.440246        1
4      5              0       2                 1  0.083167  0.440246        1

In [7]:
a1 = model_fit_mult_subject(dt)
#print(a1)

Subject:  1
Subject:  2
Subject:  3
Subject:  4
Subject:  5
Subject:  6
Subject:  7
Subject:  8
Subject:  9
Subject:  10
Subject:  11
Subject:  12
Subject:  13
Subject:  14
Subject:  15
Subject:  16
Subject:  17
Subject:  18
Subject:  19
Subject:  20
Subject:  21
Subject:  22
Subject:  23
Subject:  24
Subject:  25
Subject:  26
Subject:  27
Subject:  28
Subject:  29
Subject:  30
Subject:  31
Subject:  32
Subject:  33
Subject:  34
Subject:  35
Subject:  36
Subject:  37
Subject:  38
Subject:  39
Subject:  40
Subject:  41
Subject:  42
Subject:  43
Subject:  44
Subject:  45
Subject:  46
Subject:  47
Subject:  48
Subject:  49
Subject:  50
Subject:  51
Subject:  52
Subject:  53
Subject:  54
Subject:  55
Subject:  56
Subject:  57
Subject:  58
Subject:  59
Subject:  60
Subject:  61
Subject:  62
Subject:  63
Subject:  64
Subject:  65
Subject:  66
Subject:  67
Subject:  68
Subject:  69
Subject:  70
Subject:  71
Subject:  72
Subject:  73
Subject:  74
Subject:  75
Subject:  76
Subject:  77
Subject:  78
Subject:  79
Subject:  80
Subject:  81
Subject:  82
Subject:  83
Subject:  84
Subject:  85
Subject:  86
Subject:  87
Subject:  88
Subject:  89
Subject:  90
Subject:  91
Subject:  92
Subject:  93
Subject:  94
Subject:  95
Subject:  96
Subject:  97
Subject:  98
Subject:  99
Subject:  100
Subject:  101
Subject:  102
Subject:  103
Subject:  104
Subject:  105
Subject:  106
Subject:  107
Subject:  108
Subject:  109
Subject:  110
Subject:  111
Subject:  112
Subject:  113
Subject:  114
Subject:  115
Subject:  116
Subject:  117
Subject:  118
Subject:  119
Subject:  120
Subject:  121
Subject:  122
Subject:  123
Subject:  124
Subject:  125
Subject:  126
Subject:  127
Subject:  128
Subject:  129
Subject:  130
Subject:  131
Subject:  132
Subject:  133
Subject:  134
Subject:  135
Subject:  136
Subject:  137
Subject:  138
Subject:  139
Subject:  140
Subject:  141
Subject:  142
Subject:  143
Subject:  144
Subject:  145
Subject:  146
Subject:  147
Subject:  148
Subject:  149
Subject:  150

In [8]:
a1.to_csv(path_or_buf = '../../output/simulation/b_fit2_a1.csv', index = False)

### Data from general with decay model

In [9]:
dt = pd.read_csv('../../output/simulation/sim_1alpha_decay_model_data.csv')
dt.head(n=5)

,Trial,Stim_Sequence,Choice,Trustee_Response,Subject,Alpha,Beta,Decay
0,1,2,1,0,1,0.58305,8.441056,0.124038
1,2,1,4,0,1,0.58305,8.441056,0.124038
2,3,2,2,0,1,0.58305,8.441056,0.124038
3,4,2,1,0,1,0.58305,8.441056,0.124038
4,5,0,2,1,1,0.58305,8.441056,0.124038

In [10]:
a1d = model_fit_mult_subject(dt)
#print(a1d)

Subject:  1
Subject:  2
Subject:  3
Subject:  4
Subject:  5
Subject:  6
Subject:  7
Subject:  8
Subject:  9
Subject:  10
Subject:  11
Subject:  12
Subject:  13
Subject:  14
Subject:  15
Subject:  16
Subject:  17
Subject:  18
Subject:  19
Subject:  20
Subject:  21
Subject:  22
Subject:  23
Subject:  24
Subject:  25
Subject:  26
Subject:  27
Subject:  28
Subject:  29
Subject:  30
Subject:  31
Subject:  32
Subject:  33
Subject:  34
Subject:  35
Subject:  36
Subject:  37
Subject:  38
Subject:  39
Subject:  40
Subject:  41
Subject:  42
Subject:  43
Subject:  44
Subject:  45
Subject:  46
Subject:  47
Subject:  48
Subject:  49
Subject:  50
Subject:  51
Subject:  52
Subject:  53
Subject:  54
Subject:  55
Subject:  56
Subject:  57
Subject:  58
Subject:  59
Subject:  60
Subject:  61
Subject:  62
Subject:  63
Subject:  64
Subject:  65
Subject:  66
Subject:  67
Subject:  68
Subject:  69
Subject:  70
Subject:  71
Subject:  72
Subject:  73
Subject:  74
Subject:  75
Subject:  76
Subject:  77
Subject:  78
Subject:  79
Subject:  80
Subject:  81
Subject:  82
Subject:  83
Subject:  84
Subject:  85
Subject:  86
Subject:  87
Subject:  88
Subject:  89
Subject:  90
Subject:  91
Subject:  92
Subject:  93
Subject:  94
Subject:  95
Subject:  96
Subject:  97
Subject:  98
Subject:  99
Subject:  100
Subject:  101
Subject:  102
Subject:  103
Subject:  104
Subject:  105
Subject:  106
Subject:  107
Subject:  108
Subject:  109
Subject:  110
Subject:  111
Subject:  112
Subject:  113
Subject:  114
Subject:  115
Subject:  116
Subject:  117
Subject:  118
Subject:  119
Subject:  120
Subject:  121
Subject:  122
Subject:  123
Subject:  124
Subject:  125
Subject:  126
Subject:  127
Subject:  128
Subject:  129
Subject:  130
Subject:  131
Subject:  132
Subject:  133
Subject:  134
Subject:  135
Subject:  136
Subject:  137
Subject:  138
Subject:  139
Subject:  140
Subject:  141
Subject:  142
Subject:  143
Subject:  144
Subject:  145
Subject:  146
Subject:  147
Subject:  148
Subject:  149
Subject:  150

In [11]:
a1d.to_csv(path_or_buf = '../../output/simulation/b_fit2_a1d.csv', index = False)

### Data from gain-loss model

In [12]:
dt = pd.read_csv('../../output/simulation/sim_2alpha_model_data.csv')
dt.head(n=5)

,Trial,Stim_Sequence,Choice,Trustee_Response,Subject,Alpha_gain,Alpha_loss,Beta
0,1,1,4,0,1,0.797233,0.367038,7.063368
1,2,2,2,0,1,0.797233,0.367038,7.063368
2,3,1,1,1,1,0.797233,0.367038,7.063368
3,4,2,1,0,1,0.797233,0.367038,7.063368
4,5,2,1,0,1,0.797233,0.367038,7.063368

In [13]:
a2 = model_fit_mult_subject(dt)
#print(a2)

Subject:  1
Subject:  2
Subject:  3
Subject:  4
Subject:  5
Subject:  6
Subject:  7
Subject:  8
Subject:  9
Subject:  10
Subject:  11
Subject:  12
Subject:  13
Subject:  14
Subject:  15
Subject:  16
Subject:  17
Subject:  18
Subject:  19
Subject:  20
Subject:  21
Subject:  22
Subject:  23
Subject:  24
Subject:  25
Subject:  26
Subject:  27
Subject:  28
Subject:  29
Subject:  30
Subject:  31
Subject:  32
Subject:  33
Subject:  34
Subject:  35
Subject:  36
Subject:  37
Subject:  38
Subject:  39
Subject:  40
Subject:  41
Subject:  42
Subject:  43
Subject:  44
Subject:  45
Subject:  46
Subject:  47
Subject:  48
Subject:  49
Subject:  50
Subject:  51
Subject:  52
Subject:  53
Subject:  54
Subject:  55
Subject:  56
Subject:  57
Subject:  58
Subject:  59
Subject:  60
Subject:  61
Subject:  62
Subject:  63
Subject:  64
Subject:  65
Subject:  66
Subject:  67
Subject:  68
Subject:  69
Subject:  70
Subject:  71
Subject:  72
Subject:  73
Subject:  74
Subject:  75
Subject:  76
Subject:  77
Subject:  78
Subject:  79
Subject:  80
Subject:  81
Subject:  82
Subject:  83
Subject:  84
Subject:  85
Subject:  86
Subject:  87
Subject:  88
Subject:  89
Subject:  90
Subject:  91
Subject:  92
Subject:  93
Subject:  94
Subject:  95
Subject:  96
Subject:  97
Subject:  98
Subject:  99
Subject:  100
Subject:  101
Subject:  102
Subject:  103
Subject:  104
Subject:  105
Subject:  106
Subject:  107
Subject:  108
Subject:  109
Subject:  110
Subject:  111
Subject:  112
Subject:  113
Subject:  114
Subject:  115
Subject:  116
Subject:  117
Subject:  118
Subject:  119
Subject:  120
Subject:  121
Subject:  122
Subject:  123
Subject:  124
Subject:  125
Subject:  126
Subject:  127
Subject:  128
Subject:  129
Subject:  130
Subject:  131
Subject:  132
Subject:  133
Subject:  134
Subject:  135
Subject:  136
Subject:  137
Subject:  138
Subject:  139
Subject:  140
Subject:  141
Subject:  142
Subject:  143
Subject:  144
Subject:  145
Subject:  146
Subject:  147
Subject:  148
Subject:  149
Subject:  150

In [14]:
a2.to_csv(path_or_buf = '../../output/simulation/b_fit2_a2.csv', index = False)

### Data from gain-loss with decay model

In [15]:
dt = pd.read_csv('../../output/simulation/sim_2alpha_decay_model_data.csv')
dt.head(n=5)

,Trial,Stim_Sequence,Choice,Trustee_Response,Subject,Alpha_gain,Alpha_loss,Beta,Decay
0,1,1,1,0,1,0.822684,0.299627,4.518132,0.317977
1,2,0,4,1,1,0.822684,0.299627,4.518132,0.317977
2,3,2,1,0,1,0.822684,0.299627,4.518132,0.317977
3,4,1,1,0,1,0.822684,0.299627,4.518132,0.317977
4,5,2,4,0,1,0.822684,0.299627,4.518132,0.317977

In [16]:
a2d = model_fit_mult_subject(dt)
#print(a2d)

Subject:  1
Subject:  2
Subject:  3
Subject:  4
Subject:  5
Subject:  6
Subject:  7
Subject:  8
Subject:  9
Subject:  10
Subject:  11
Subject:  12
Subject:  13
Subject:  14
Subject:  15
Subject:  16
Subject:  17
Subject:  18
Subject:  19
Subject:  20
Subject:  21
Subject:  22
Subject:  23
Subject:  24
Subject:  25
Subject:  26
Subject:  27
Subject:  28
Subject:  29
Subject:  30
Subject:  31
Subject:  32
Subject:  33
Subject:  34
Subject:  35
Subject:  36
Subject:  37
Subject:  38
Subject:  39
Subject:  40
Subject:  41
Subject:  42
Subject:  43
Subject:  44
Subject:  45
Subject:  46
Subject:  47
Subject:  48
Subject:  49
Subject:  50
Subject:  51
Subject:  52
Subject:  53
Subject:  54
Subject:  55
Subject:  56
Subject:  57
Subject:  58
Subject:  59
Subject:  60
Subject:  61
Subject:  62
Subject:  63
Subject:  64
Subject:  65
Subject:  66
Subject:  67
Subject:  68
Subject:  69
Subject:  70
Subject:  71
Subject:  72
Subject:  73
Subject:  74
Subject:  75
Subject:  76
Subject:  77
Subject:  78
Subject:  79
Subject:  80
Subject:  81
Subject:  82
Subject:  83
Subject:  84
Subject:  85
Subject:  86
Subject:  87
Subject:  88
Subject:  89
Subject:  90
Subject:  91
Subject:  92
Subject:  93
Subject:  94
Subject:  95
Subject:  96
Subject:  97
Subject:  98
Subject:  99
Subject:  100
Subject:  101
Subject:  102
Subject:  103
Subject:  104
Subject:  105
Subject:  106
Subject:  107
Subject:  108
Subject:  109
Subject:  110
Subject:  111
Subject:  112
Subject:  113
Subject:  114
Subject:  115
Subject:  116
Subject:  117
Subject:  118
Subject:  119
Subject:  120
Subject:  121
Subject:  122
Subject:  123
Subject:  124
Subject:  125
Subject:  126
Subject:  127
Subject:  128
Subject:  129
Subject:  130
Subject:  131
Subject:  132
Subject:  133
Subject:  134
Subject:  135
Subject:  136
Subject:  137
Subject:  138
Subject:  139
Subject:  140
Subject:  141
Subject:  142
Subject:  143
Subject:  144
Subject:  145
Subject:  146
Subject:  147
Subject:  148
Subject:  149
Subject:  150

In [17]:
a2d.to_csv(path_or_buf = '../../output/simulation/b_fit2_a2d.csv', index = False)

### Data from gain-loss with priors model

In [18]:
dt = pd.read_csv('../../output/simulation/sim_2alpha_with_priors_model_data.csv')
dt.head(n=5)

,Trial,Stim_Sequence,Choice,Trustee_Response,Subject,Alpha_gain,Alpha_loss,Beta,iProbA,iProbB,iProbC
0,1,2,1,0,1,0.783832,0.063535,6.772607,0.961725,0.494393,0.125022
1,2,2,3,0,1,0.783832,0.063535,6.772607,0.961725,0.494393,0.125022
2,3,0,4,1,1,0.783832,0.063535,6.772607,0.961725,0.494393,0.125022
3,4,2,1,0,1,0.783832,0.063535,6.772607,0.961725,0.494393,0.125022
4,5,0,4,1,1,0.783832,0.063535,6.772607,0.961725,0.494393,0.125022

In [19]:
a2p = model_fit_mult_subject(dt)
#print(a2p)

Subject:  1
Subject:  2
Subject:  3
Subject:  4
Subject:  5
Subject:  6
Subject:  7
Subject:  8
Subject:  9
Subject:  10
Subject:  11
Subject:  12
Subject:  13
Subject:  14
Subject:  15
Subject:  16
Subject:  17
Subject:  18
Subject:  19
Subject:  20
Subject:  21
Subject:  22
Subject:  23
Subject:  24
Subject:  25
Subject:  26
Subject:  27
Subject:  28
Subject:  29
Subject:  30
Subject:  31
Subject:  32
Subject:  33
Subject:  34
Subject:  35
Subject:  36
Subject:  37
Subject:  38
Subject:  39
Subject:  40
Subject:  41
Subject:  42
Subject:  43
Subject:  44
Subject:  45
Subject:  46
Subject:  47
Subject:  48
Subject:  49
Subject:  50
Subject:  51
Subject:  52
Subject:  53
Subject:  54
Subject:  55
Subject:  56
Subject:  57
Subject:  58
Subject:  59
Subject:  60
Subject:  61
Subject:  62
Subject:  63
Subject:  64
Subject:  65
Subject:  66
Subject:  67
Subject:  68
Subject:  69
Subject:  70
Subject:  71
Subject:  72
Subject:  73
Subject:  74
Subject:  75
Subject:  76
Subject:  77
Subject:  78
Subject:  79
Subject:  80
Subject:  81
Subject:  82
Subject:  83
Subject:  84
Subject:  85
Subject:  86
Subject:  87
Subject:  88
Subject:  89
Subject:  90
Subject:  91
Subject:  92
Subject:  93
Subject:  94
Subject:  95
Subject:  96
Subject:  97
Subject:  98
Subject:  99
Subject:  100
Subject:  101
Subject:  102
Subject:  103
Subject:  104
Subject:  105
Subject:  106
Subject:  107
Subject:  108
Subject:  109
Subject:  110
Subject:  111
Subject:  112
Subject:  113
Subject:  114
Subject:  115
Subject:  116
Subject:  117
Subject:  118
Subject:  119
Subject:  120
Subject:  121
Subject:  122
Subject:  123
Subject:  124
Subject:  125
Subject:  126
Subject:  127
Subject:  128
Subject:  129
Subject:  130
Subject:  131
Subject:  132
Subject:  133
Subject:  134
Subject:  135
Subject:  136
Subject:  137
Subject:  138
Subject:  139
Subject:  140
Subject:  141
Subject:  142
Subject:  143
Subject:  144
Subject:  145
Subject:  146
Subject:  147
Subject:  148
Subject:  149
Subject:  150

In [20]:
a2p.to_csv(path_or_buf = '../../output/simulation/b_fit2_a2p.csv', index = False)