### SocialAL Models
# Posterior Predictive Checks - double alpha model
KLS 7.15.22  
Project info: https://osf.io/b48n2/

Model modified from :
Fareri, D. S., Chang, L. J., & Delgado, M. R. (2012). Effects of direct social experience on trust decisions and neural reward circuitry. Frontiers in Neuroscience, 6, 1â€“17. https://doi.org/10.3389/fnins.2012.00148

### Python version

In [1]:
import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]

### Load modules

In [2]:
import numpy as np
import random
import math
import pandas as pd
from scipy.optimize import minimize
from scipy.stats import beta
from scipy.stats import gamma
import matplotlib.pyplot as plt
import itertools

## Pull in functions

In [3]:
run common_functions.ipynb

In [4]:
run double_alpha_functions.ipynb

## Functions to simulate data

In [5]:
def select_response(prob):     
    n = random.uniform(0,1)
    if n > prob:
        response = 0
    else:
        response = 1
    return response

### Set constants

In [6]:
recip_rates = {0: 0.93, 1:0.6, 2:0.07}

### New function to simulate data for one sub

In [7]:
def sim_data(tn, params):
    # tn: number of trials desired
    # params: ground truth of parameters
    a_gain = params[0]
    a_loss = params[1]
    beta = params[2]
    
    # initialize variables
    Probs = [0.5, 0.5, 0.5]
    EVs = [[9,9,9,9],[9,9,9,9],[9,9,9,9]]
    
    # generate trial sequence
    trial_sequence = np.repeat([0,1,2], tn)
    random.shuffle(trial_sequence) #print(trial_sequence)
    
    trial = []
    choices = []
    responses = []
    
    for x in range(0,len(trial_sequence)):
        t = trial_sequence[x] 
        
        # Trial
        trial.append(x+1)
        
        # Make a choice
        choice = action_selection(get_action_selection_probs(beta, EVs[t]))
        choices.append(choice) 
    
        # Get a response
        recip_rate = recip_rates.get(t) 
        
        response = select_response(recip_rate) 
        responses.append(response)
    
        # after choice, update probability
        if choice != 1:
            Probs[t] = update_prob(response, Probs[t], a_gain, a_loss) 
        # then update value
        EVs[t] = update_value(Probs[t]) 

    data = {'Trial': trial, 'Stim_Sequence': trial_sequence, 'Choice' : choices, 'Trustee_Response': responses}    
    return data

In [8]:
#sim_data(15,[.2,.3,2])

### Pull in best-fit parameters

In [90]:
dt = pd.read_csv('../../output/two_alpha_model_params.csv')
dt.head(n=5)

         id  alpha_gain  alpha_loss       beta       -LLH
0  sub-2013    0.003498    0.002143  20.000000  46.155479
1  sub-2007    0.289955    0.206801   0.303044  51.566509
2  sub-2006    0.000418    0.000000  19.110026  60.782458
3  sub-2012    0.018243    1.000000   0.416436  47.261224
4  sub-2004    0.070699    0.131740   2.112863  32.966208

### Simulate data

In [91]:
data = pd.DataFrame(columns= ['Trial', 'Stim_Sequence', 'Choice', 'Trustee_Response', 'Subject'])
for index, row in dt.iterrows():
    params = (row['alpha_gain'], row['alpha_loss'], row['beta'],)
    old_sub = row['id']
    for iter in range(100):
        dt = sim_data(15, params)
        dt['Subject'] = [old_sub + '-' + str(iter)] * 45
        dt = pd.DataFrame(dt)
        data = pd.concat([data, dt])
data

   Trial Stim_Sequence Choice Trustee_Response      Subject
0      1             0      4                1   sub-2013-0
1      2             1      2                0   sub-2013-0
2      3             0      4                1   sub-2013-0
3      4             1      2                1   sub-2013-0
4      5             2      4                0   sub-2013-0
5      6             1      4                1   sub-2013-0
6      7             2      4                0   sub-2013-0
7      8             0      3                1   sub-2013-0
8      9             0      1                1   sub-2013-0
9     10             0      3                1   sub-2013-0
10    11             1      4                1   sub-2013-0
11    12             1      4                1   sub-2013-0
12    13             1      4                1   sub-2013-0
13    14             2      3                0   sub-2013-0
14    15             0      4                1   sub-2013-0
15    16             1      4                0   sub-2013-0
16    17             2      4                0   sub-2013-0
17    18             2      4                0   sub-2013-0
18    19             1      3                1   sub-2013-0
19    20             0      2                1   sub-2013-0
20    21             2      1                0   sub-2013-0
21    22             1      4                1   sub-2013-0
22    23             0      4                1   sub-2013-0
23    24             0      4                1   sub-2013-0
24    25             0      4                1   sub-2013-0
25    26             0      4                1   sub-2013-0
26    27             0      4                1   sub-2013-0
27    28             0      4                1   sub-2013-0
28    29             1      4                1   sub-2013-0
29    30             2      2                0   sub-2013-0
..   ...           ...    ...              ...          ...
15    16             2      2                0  sub-2036-99
16    17             0      4                1  sub-2036-99
17    18             2      3                0  sub-2036-99
18    19             1      2                1  sub-2036-99
19    20             1      3                0  sub-2036-99
20    21             0      4                1  sub-2036-99
21    22             1      4                1  sub-2036-99
22    23             2      4                0  sub-2036-99
23    24             2      3                0  sub-2036-99
24    25             2      2                0  sub-2036-99
25    26             0      1                1  sub-2036-99
26    27             2      1                0  sub-2036-99
27    28             2      2                0  sub-2036-99
28    29             2      3                0  sub-2036-99
29    30             0      4                0  sub-2036-99
30    31             2      1                0  sub-2036-99
31    32             2      1                0  sub-2036-99
32    33             1      4                1  sub-2036-99
33    34             1      4                1  sub-2036-99
34    35             0      2                1  sub-2036-99
35    36             0      4                1  sub-2036-99
36    37             1      2                0  sub-2036-99
37    38             0      3                1  sub-2036-99
38    39             1      3                1  sub-2036-99
39    40             1      3                1  sub-2036-99
40    41             1      3                0  sub-2036-99
41    42             0      4                0  sub-2036-99
42    43             0      2                1  sub-2036-99
43    44             1      4                0  sub-2036-99
44    45             1      3                0  sub-2036-99

[328500 rows x 5 columns]

In [92]:
data.to_csv(path_or_buf = '../../output/ppc/sim_w_bestfit_2alpha_params.csv', index = False)